!!!
%html{lang: 'en', 'ng-app' => 'cGanam'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv'=> 'X-UA-Compatible', content: 'IE=Edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title
      Chalachithra Ganangal
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = yield 
