!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv'=> 'X-UA-Compatible', content: 'IE=Edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title
      Chalachithra Ganangal
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  
  %body
    :javascript
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1452355831690305',
          xfbml      : true,
          version    : 'v2.1'});
        
        CGanam.Events.trigger('fb-ready');
      };
              
      var api_key = 'AIzaSyDYgaCgKr-MxeRApfCBYebS4gNhY6JuyXw';
      var setup = function () {
        gapi.client.setApiKey(api_key);
        gapi.client.load('youtube', 'v3', function() {
          console.log('YouTube fired up');
        });
      };
      
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
      CGanam.Events.once('fb-ready', function(){
          CGanam.Auth.check_login();
        });
        
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script'); 
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      function onYouTubeIframeAPIReady() {
        CGanam.Events.trigger('youtube-iframe-api-ready');
      }

    %script{src: "https://apis.google.com/js/client.js?onload=setup"}
    = yield 
